* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container, .container2 {
    width: 50%;
    margin: 30px auto;
    padding-bottom: 40px;
    background-color: rgb(254, 253, 243);
    text-align: center;
    border: 3px solid rgb(98, 97, 97);
    border-radius: 10px;
}

.container2 {
    position: relative;
}

h3 {
    color: rgb(111, 37, 164);
    padding: 20px 0;
}

#accedi {
    margin-left: 10px;
}

button {
    border: 2px solid rgb(111, 37, 164);
    padding: 4px 5px;
    border-radius: 5px;
    background-color: #F5F5F5;
}

a {
    text-decoration: none;
    color: rgb(98, 97, 97);
    font-weight: bold;
}

.image {
    width: 20%;
    position: absolute;
    left: 80%;
    bottom: 15%;
}

img {
    max-width: 100%;
}


